/* default for whole website */
html {
    /* Variables */
    --primary-color: rgb(160, 120, 120);
    --DarkGrey: rgb(70, 70, 70);
    --LightGrey: rgb(235, 235, 235);
    --accent: #e8c0d0ed;

    background-color: var(--DarkGrey);
    background-image:url("../Images/BocchiTheme/SpaceBG.jpg");
    background-size:contain;
    font-family: "Courier New";
}

/* Default for main body */
body {
    border: var(--DarkGrey) 2px groove;
    background-color: var(--primary-color);
    background-image: url("../Images/BocchiTheme/CrunchyNod.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-burn;
    width: 800px;
    margin: auto;
    color: var(--DarkGrey);
}

/* Highlighter */
mark {
    background-color: var(--accent);
}

/* Link Colors */
a:link {
    color: rgb(255, 55, 222);
    background-color: transparent;
}
a:hover {
    color: rgb(113, 92, 234);
    background-color: transparent;
}

#container {
    border: var(--DarkGrey) 2px groove;
    height: 540px;
    width: 600px;
    margin: auto;
    padding: 10px;
        background-color: var(--LightGrey);
        background-image: url("../Images/BocchiTheme/JumpForJoy.gif");
        background-blend-mode: screen;
        background-size: cover;
}